.bd-blue {
  background-color: #18379e;
  border-bottom: 2px solid #FFF; }

.jumbotron {
  background-color: #18379e;
  color: #FFF;
  margin-top: 50px;
  margin-bottom: 0px; }

.servicios {
  margin: 30px 0;
  border-top: 1px solid #61615f;
  padding-top: 20px; }

.servicios .card-servicios {
  flex: 1 310px;
  margin: 20px; }

.servicios .card-servicios .card-text {
  margin-top: 20px; }

.servicios .card-servicios .btn-cotizar {
  width: 100%;
  border-radius: 0; }

.servicios .card-footer {
  font-size: 0.8rem; }

.thead-hoteles {
  background-color: #18379e;
  color: #FFF; }

.banner-page {
  position: relative;
  margin-bottom: 40px; }

.banner-page .title-tag {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #FFF;
  font-size: 4rem;
  text-transform: uppercase; }

.title-carousel {
  text-transform: uppercase; }

div#nav-home, div#nav-profile, div#nav-contact {
  padding: 30px !important; }

.promos {
  margin-top: 30px;
  margin-bottom: 30px; }

.bg-register {
  background-color: #e9ecef;
  padding: 30px 0; }

.bg-register h2 {
  display: inline-block;
  margin-right: 30px; }

.multi-info {
  padding: 20px;
  margin-bottom: 40px; }

.form-contact {
  margin-top: 40px;
  margin-bottom: 40px; }

.form-contact .btn-contact {
  width: 100%; }

footer {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #18379e;
  padding: 20px 20px 0 20px;
  color: #FFF; }

footer a {
  color: #FFF; }

.footer-address-icon {
  padding-right: 10px; }
