.bd-blue {
  background-color: #3d6e9c;
  border-bottom: 2px solid #fff;
}
.jumbotron {
  background-color: #3d6e9c;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 0px;
}
.servicios {
  margin: 30px 0;
  border-top: 1px solid #7d7d7a;
  padding-top: 20px;
}
.servicios .card-servicios {
  flex: 1 310px;
  margin: 20px;
}
.servicios .card-servicios .card-text {
  margin-top: 20px;
}
.servicios .card-servicios .btn-cotizar {
  width: 100%;
  border-radius: 0;
}
.servicios .card-footer {
  font-size: 0.8rem;
}
.thead-hoteles {
  background-color: #3d6e9c;
  color: #fff;
}
.banner-page {
  position: relative;
  margin-bottom: 40px;
}
.banner-page .title-tag {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
}
.title-carousel {
  text-transform: uppercase;
}
div#nav-home,
div#nav-profile,
div#nav-contact {
  padding: 30px !important;
}
.promos {
  margin-top: 30px;
  margin-bottom: 30px;
}
.bg-register {
  background-color: #e9ecef;
  padding: 30px 0;
}
.bg-register h2 {
  display: inline-block;
  margin-right: 30px;
}
.multi-info {
  padding: 20px;
  margin-bottom: 40px;
}
.form-contact .btn-contact {
  width: 100%;
}
footer {
  background-color: #3d6e9c;
  padding: 20px 20px 0 20px;
  color: #fff;
}
footer a {
  color: #fff;
}
.footer-address-icon {
  padding-right: 10px;
}
