@yellow:#f5ec42;
@blue:#3d6e9c;
@white: #fff;
@lightgrey: #e9ecef;
@grey: #7d7d7a;

.margenes(@top, @bottom){
    margin-top: @top;
    margin-bottom: @bottom;
}
.bd-blue{
    background-color: @blue;
    border-bottom: 2px solid @white;
}
.jumbotron{
    background-color: @blue;
    color:@white;
    .margenes(50px, 0px);
}
.servicios{
    margin: 30px 0;
    border-top: 1px solid @grey;
    padding-top: 20px;
}
.servicios .card-servicios{
    flex: 1 310px;
    margin: 20px;
}
.servicios .card-servicios .card-text{
    margin-top: 20px;
}
.servicios .card-servicios .btn-cotizar{
    width: 100%;   
    border-radius: 0;
}
.servicios .card-footer{
    font-size: 0.8rem;
}
.thead-hoteles{
    background-color: @blue;
    color: @white;
}
.banner-page {
    position: relative; 
    margin-bottom: 40px;
}
.banner-page .title-tag{
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: @white;
    font-size: 4rem; 
    text-transform: uppercase;
}
.title-carousel{
    text-transform: uppercase;
}
div#nav-home, div#nav-profile, div#nav-contact{
    padding: 30px !important;
}
.promos{
   .margenes(30px, 30px);
}
.bg-register{
    background-color: @lightgrey;
    padding: 30px 0;
}
.bg-register h2{
    display: inline-block;
    margin-right: 30px;
}
.multi-info{
    padding: 20px;
    margin-bottom: 40px;
}
.form-contact .btn-contact{
    width: 100%;
}
footer{
    background-color: @blue;
    padding: 20px 20px 0 20px;  
    color: @white;
}
footer a{
    color: @white;
}
.footer-address-icon{
    padding-right: 10px;
}